<div>
<div class="alert alert-success"><h3>References</h3></div>
<div><h4>[1]	<a href="https://powermin.nic.in/en/content/electricity-act-2003" target="blank">Electricity Act, 2003</a></h4> </div>
<div><h4>[2]	<a href="http://cercind.gov.in/Regulations/Signed-IEGC.pdf" target="blank">Indian Electricity Grid Code </a> </h4></div>
<div><h4>[3]	<a href="http://cercind.gov.in/2015/regulation/Noti13.pdf" target="blank">CERC (Ancillary Services Operations) Regulations, 2015 </a></h4> </div>
<div><h4>[4]	<a href="https://powermin.nic.in/sites/default/files/webform/notices/Merit%20Order%20operation.pdf" target="blank">Ministry of Power Scheme on “Flexibility in Generation and Scheduling of Thermal Power Stations to reduce the cost of power” </a></h4></div>
<div><h4>[5] <a href="http://cercind.gov.in/2019/orders/02-SM-2019.pdf" target="blank">	Central Commission order in Petition No. 02/SM/2019 (Suo-Motu) dtd. 31st January, 2019, for Pilot on Security Constrained Economic Despatch (SCED) of Inter-State Generating Stations (ISGS) Pan India  </a></h4></div>
<div><h4>[6] <a href="https://posoco.in/download/consultation-paper-on-security-constrained-economic-dispatch-of-isgs-pan-india/?wpdmdl=19708" target="blank">	Consultation paper on “Security Constrained Economic Dispatch (SCED) of Inter-State Generating Stations pan India” </a>  </h4></div>
<div><h4>[7] <a href="https://posoco.in/wp-content/uploads/2019/04/Letter_to_Generators_SCED_18April2019_As_Sent.pdf" target="blank">	Procedure for Pilot on Security Constrained Economic Despatch for Inter- State Generating Stations pan India </a> </h4></div>
<div><h4>[8]	<a href="http://cercind.gov.in" target="blank">CERC Staff Discussion Paper on “Market based Economic Dispatch of Electricity: Redesigning the Day-Ahead Market in India, “Real Time Energy Market” and “Re-designing Ancillary Services Mechanism in India”  </a> </h4></div>
<div><h4>[9] <a href="http://cercind.gov.in/2015/orders/SO_11.pdf" target="blank">	CERC Order on Roadmap to operationalise Reserves in the country, 13th October 2015 </a> </h4></div>
<div><h4>[10]<a href="https://ieeexplore.ieee.org/abstract/document/8771801" target="blank" >	P. Chilukuri, K. Gaur, S. K. Soonee, S. R. Narasimhan, N. Nallarasan and K. V. S. Baba, "Optimization Layer for Inter State Generation Schedules in India," 2018 20th National Power Systems Conference (NPSC), Tiruchirappalli, India, 2018, pp. 1-6. </a></h4> </div>
<div><h4>[11] <a href="https://www.nrel.gov/docs/fy19osti/72665.pdf" target="blank">	National Renewable Energy Laboratory (NREL), USA Publication on Opening Markets, Designing Windows, and Closing Gates: India's Power System Transition - Insights on Gate Closure </a>
</h4></div>
<div class="alert alert-success"><h3>Literature</h3></div>
<div><h4>[1]	H. H. Happ, "Optimal power dispatch-A comprehensive survey," in IEEE Transactions on Power Apparatus and Systems, vol. 96, no. 3, pp. 841-854, May 1977</h4></div>
<div><h4>[2]	IEEE Working Group, “Description and bibliography of major economic-security functions part-II and III, IEEE Trans. Power Apparat. Syst., vol. PAS-100, pp. 215-235, 1981.</h4> </div>
<div><h4>[3]	J.  Carpentier,    “Optimal    power    flow,    uses,    methods    and    development”, Planning and operation of electrical energy system Proceedings of IFAC Symposium, Brazil, 1985, pp. 11-21. </h4> </div>
<div><h4>[4]	F. F. Wu and P. Varaiya, “Co-ordinated multilateral trades for electric power networks, theory and implementation,” Intl. J. of Electrical Power & Energy Systems, vol. 21, no. 2, pp. 75–102, Feb 1999.</h4></div>
<div><h4>[5]	Allen J. Wood and Bruce F, Wollenberg, Power Generation, Operation, and Control, Chapter -3, John Wiley & Sons, New York, 1996.</h4></div>
<div><h4>[6]	W.  G.  Wood, Spinning reserve constraints static and dynamic economic dispatch, IEEE Transaction on Power Apparatus Systems, PAS-101, no. 2, pp. 381-388, 1982</h4></div>
<div><h4>[7]	Grainger, John J., and William D. Stevenson. Power System Analysis. New York: McGraw-Hill, 1994</h4></div>
<div><h4>[8]	GAMS Development Corporation. General Algebraic Modeling System (GAMS) Release 24.2.1. Washington, DC, USA, 2013.</h4></div>
<div><h4>[9]<a href="https://support.office.com/en-us/article/define-and-solve-a-problem-by-using-solver-5d1a388f-079d-43ac-a7eb-f63e45925040" target="blank">	Microsoft Excel Solver add-in.</a></h4></div>
<div><h4>[10]	Hong Chen, “Power Grid Operation in a Market Environment: Economic Efficiency and Risk Mitigation”, Wiley-IEEE Press, November 2016. ISBN: 978-1-118-98454-3</h4></div>
<div><h4>[11]	B. H. Chowdhury and S. Rahman, "A review of recent advances in economic dispatch," in IEEE Transactions on Power Systems, vol. 5, no. 4, pp. 1248-1259, Nov. 1990 </h4></div>
<div><h4>[12]	IEEE Committee Report, "Present Practices in the Economic Operation of Power Systems," in IEEE Transactions on Power Apparatus and Systems, vol. PAS-90, no. 4, pp. 1768-1775, July 1971</h4></div>
<div><h4>[13]	Irisarri, G, Kimball, LM, Clements, KA & Bagchi, A 1998, „Economic dispatch with network and ramping constraints via interior point method‟, IEEE Transactions on Power Systems, vol.13, no.1, pp. 236-242</h4></div>
<div><h4>[14]	The Value Of Economic Dispatch - A Report To Congress Pursuant To Section 1234 of the Energy Policy Act Of 2005 Prepared By United States Department Of Energy on November 7, 2005</h4></div>
<div><h4>[15]	Report Submitted to FERC on Security Constrained Economic Dispatch By the Joint Board for the PJM/MISO Region on May 24, 2006</h4></div>
<div><h4>[16]	Security Constrained Economic Dispatch (SCED) Overview - Prepared by Hong Chen (PJM) for AESO</h4></div>
</div>