

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <script type="text/javascript">

      var selectedDate='';
      var tdate='';
      var chartdata;
      var selectedGenerator;
   $( function() {
    $( "#calender1" ).datepicker({dateFormat : "dd-mm-yy"});
    $( "#calender2" ).datepicker({dateFormat : "dd-mm-yy"});

        var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
if(dd<10){
    dd='0'+dd;
} 
if(mm<10){
    mm='0'+mm;
} 
var today = dd+'-'+mm+'-'+yyyy;
  htm='';
htm+='<option value="0">ALL</option>';
htm+='<option value="1">NER</option>';
htm+='<option value="4">SR</option>';
htm+='<option value="5">WR</option>';
htm+='<option value="2">ER</option>';
htm+='<option value="3">NR</option>';

document.getElementById("calender1").value = today;
document.getElementById("calender2").value = today;

document.getElementById('dropdown').innerHTML=htm;

});

function showOpt(){
  selectedDate=document.getElementById("calender1").value;

 


var fromDate=document.getElementById("calender1").value;
var toDate=document.getElementById("calender2").value
 var from=$( "#calender1" ).datepicker('getDate');
  var dates=[];
  var i=1;
  dates.push(fromDate);
  
if(fromDate!=toDate)
{  

  do{   

  var x=from;
   x.setDate(x.getDate()+i);
   var dd = x.getDate();
var mm = x.getMonth()+1; //January is 0!

var yyyy = x.getFullYear();
if(dd<10){
    dd='0'+dd;
} 
if(mm<10){
    mm='0'+mm;
}
var x = dd+'-'+mm+'-'+yyyy;
dates.push(x);
}while(x!=toDate);

}




var selectedGen=$("#dropdown").val();
$.post('/gamspwc/getAveragePrice',{date:dates,region:selectedGen},function(res){
   
chartdata=JSON.parse(res);


console.log(chartdata);
var xaxisData=[];
var sch=[];
var preAVG=[];
var postAVG=[];
var diifAVG=[];
var presum=0;
var postsum=0;
for(var i=0;i<chartdata.length;i++){
  xaxisData.push((i%96) +1);
  sch.push(-1*parseInt(chartdata[i][2]*10000/chartdata[i][1]));
  preAVG.push(parseInt(chartdata[i][6]*10000/chartdata[i][4]));
  postAVG.push(parseInt(chartdata[i][5]*10000/chartdata[i][3]));

diifAVG.push(parseInt(chartdata[i][5]*10000/chartdata[i][3])-parseInt(chartdata[i][6]*10000/chartdata[i][4]));
presum+=parseInt(chartdata[i][6]*10000/chartdata[i][4]);
postsum+=parseInt(chartdata[i][5]*10000/chartdata[i][3]);

}

document.getElementById('pre').innerHTML="<h4> Average Pre SCED Variable Cost (paisa/unit) :"+(Math.round((presum/chartdata.length)*100)/100).toString()+"</h4>";
document.getElementById('post').innerHTML="<h4> Average Post SCED Variable Cost (paisa/unit):"+(Math.round((postsum/chartdata.length)*100)/100).toString()+"</h4>";

Highcharts.chart('chart_div', {

    chart: {
        type: 'area',
        zoomType: 'xy'
    } , tooltip:{
  backgroundColor: '#FFFFFF',
    borderColor: 'black',
    borderRadius: 10,
    borderWidth: 3
    },legend: {
              itemStyle: {
                 fontSize: '20px',
                 color: '#000000'
              }

        },
    title: {
        text:'Savings Per Total Change in MU for Period: '+ fromDate + " to " + toDate
    },
    xAxis: {
        categories: xaxisData,
            labels: {
            fontSize:'25px',
            style: {
                color:'#000000'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Average Price (Paisa/Unit) ',
        data: sch,
        color:' #ADD8E6'
    }]
});



Highcharts.chart('chart_div1', {

    chart: {
        type: 'area'
    } , tooltip:{
  backgroundColor: '#FFFFFF',
    borderColor: 'black',
    borderRadius: 10,
    borderWidth: 3
    },legend: {
              itemStyle: {
                 fontSize: '20px',
                 color: '#000000'
              }

        },
    title: {
        text:'Average Cost (paisa/Unit) pre and post SCED for Period: '+ fromDate + " to " + toDate
    },
    xAxis: {
        categories: xaxisData,
            labels: {
            fontSize:'25px',
            style: {
                color:'#000000'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Average Cost Pre SCED (Paisa/Unit) ',
        data: preAVG,
        color:' #ADD8E6'
    },
    {
        name: 'Average Cost Post SCED (Paisa/Unit) ',
        data: postAVG,
        color:'#FA8072'
    }]
});


Highcharts.chart('chart_div2', {

    chart: {
        type: 'area'
    } , tooltip:{
  backgroundColor: '#FFFFFF',
    borderColor: 'black',
    borderRadius: 10,
    borderWidth: 3
    },legend: {
              itemStyle: {
                 fontSize: '20px',
                 color: '#000000'
              }

        },
    title: {
        text:'diff between Average Cost (paisa/Unit) pre and post SCED for Period: '+ fromDate + " to " + toDate
    },
    xAxis: {
        categories: xaxisData,
            labels: {
            fontSize:'25px',
            style: {
                color:'#000000'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Average Cost(Paisa/Unit) ',
        data: diifAVG,
        color:' #ADD8E6'
    }]
});


 // google.charts.load('current', {'packages':['corechart']});
 //      google.charts.setOnLoadCallback(drawChart);

      //document.getElementById('chart_cumm').innerHTML="<h3>Cummulative of the above trend is :"+cumm.toString()+" MW </h3>";
      });

}
</script>


      <div class="row">

               <div class="col-lg-3">
    <label for="calender1">FROM DATE:</label>
     <input type="text" class="form-control"   id="calender1">
</div>
<div class="col-lg-3">
    <label for="calender1">TO DATE:</label>
     <input type="text" class="form-control"   id="calender2">
</div>

       <div class="col-lg-4">
          <label>Generators</label>
          <select id="dropdown" class="form-control">
</select>
      </div>

<div class="col-lg-2">
  <label>submit</label>
  <button class="btn btn-outline-primary form-control" onclick="showOpt()" >submit</button>
</div>
</div>
<div id="chart_div" style="width: 100%; height: 500px;"></div>
<div id="chart_div1" style="width: 100%; height: 500px;"></div>
<div class="row">
  <div class="col-lg-4" id="pre"></div>
  <div class="col-lg-4" id="post"></div>
</div>
<div id="chart_div2" style="width: 100%; height: 500px;"></div>

